/* Site Wide */

* {
    margin: 0;
    padding: 0;
}

header img {
    height: 70px;
    margin-top: 5px;
    margin-left: 20px;
}

body {
    margin: 0;
    background-color: #000000;
    font-family: 'Cinzel', serif;
    margin-top: 10px;
    padding: 10px;
}

main {
    color: antiquewhite;
}

.wrapper {
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 100px;
    padding-left: 16px;
    padding-right: 16px;
}

/* Nav Bar */

header {
    background-color: #000000;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 0 25px 0 rgb(120, 16, 16);
}

header logo {
    display: flex;
    justify-items: flex-start;
}

header * {
    display: inline;
}

header li {
    margin: 20px;
}

header li a:visited{
    color: #585151;
}

header li a:hover{
    color: #AE2F16;
}

header li a {
    color: #faebd7;
    text-decoration: none;
}


/* Hero */

.hero {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: antiquewhite;
    background-image: linear-gradient(rgba(0, 0, 0, 0.6),rgba(0, 0, 0, 0.6)), url(/img/inari-red-temple.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.hero h1 {
    font-size: 5em;
    margin-top: 0;
    margin-bottom: 0.5em;
}

.button {
    display: block;
    width: 200px;
    padding: 1em;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    color: #faebd7;
    text-decoration: none;
    font-size: 1.5em;
    border: 3px solid #faebd7;
    border-radius: 20px;
    background-color: rgba(194, 150, 53, 0.6)
}

.button:hover {
    background-color: rgba(194, 150, 53, 0.8);
}

/* index */

.offerings-row h3 {
    color: #c29635;
}

.offerings-row::after {
    content: "";
    display: table;
    clear: both;
}

/* Testimonials */



/* Footer */

footer {
    background-color: rgb(33, 32, 32);
}

.footer-menu {
    font-size: 10px;
    padding: 50px 0;
    text-align: center;
  }

footer li a {
    color: #faebd7;
    text-decoration: none;
}

.footer-menu ul {
    list-style: none;
    display: table;
    margin: 0 auto;
}

.social-footer {
    height: auto;
    width: 30vw;
    margin: auto;
    display: flex;
    justify-content: center ;
    flex-wrap: wrap;
}
.fa {
    margin: 10px;
    padding: 10px;
    font-size: 10px;
    width: 25px;
    text-align: center;
    text-decoration: none;
}

.fa:hover {
    opacity: 0.7;
}
  
.fa-facebook {
    background: #c29635;
    color: #000000;
}
  
.fa-instagram {
    background: #c29635;
    color: #000000;
  }

.fa-linkedin {
    background: #c29635;
    color: #000000;
}

.vl {
    border-left: 0.5px solid #c29635;
    height: 50px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 50%;
    margin-right: 50%;
    
  }

  .footer-menu {
    color: grey;
    height: 150px;
}

/* About */

.wrapper h2 {
    text-align: center;
    margin: 20px 0 10px 0;
}

.column {
    float: left;
    width: 30%;
    margin-bottom: 16px;
    padding: 0 8px;
    
}

.card {
    box-shadow: 0 4px 8px 0 rgb(120, 16, 16);
    height: 1190px;
}
  
.container {
    padding: 0 10px;
    line-height: 1.6;;
}

.title {
    font-size: 15px;
    color: #c29635;
    padding: 10px 0 10px 0;
}

.row .button {
    width: fit-content;
    height: fit-content;
    font-size: 15px;
    font-family: cinzel;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
}
 
.container::after, .row::after {
    content: "";
    clear: both;
    display: table;
}

  